@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    @using (Ajax.BeginForm("DeezerSearch", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1200
    }))
    {
        <input type="text" name="nick" value="eminem">
        <input type="submit" value="Parse" />


    }
    

</div>
<div id="loading" style="display:none; color:green; font-weight:bold;">
    <p>Загрузка</p>
</div>
<div id="results">

</div>
